

/* -- CSS CODE ---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background: rgb(8,25,35);
    background: linear-gradient(9deg, rgba(8,25,35,1) 0%, rgba(62,50,114,1) 92%);  
    width: 100%;
    height: 100%;
}
.window{
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}




.content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.top{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    height: 100%;
    padding: 20px;
}
button{
    right: 2%;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: rgb(4, 83, 201);
    height: 100%;
    width: 100px;
    color: beige;
    transition: all 0.5s ease;
    border: 2px dashed transparent;
}
button:hover{
    transform: translateX(-5px);
    background: rgb(201, 4, 152);
}
.ad{
    font-size: 30px;
}

.bottom{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    display: flex;
    transition: all 0.5s ease;
} 
.bottom:hover{
    background: white;
}
.left{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 5px;
    cursor: auto;
}
.right{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px 20px 20px 0px;
}
.crud{
    flex-direction: column;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: rgb(4, 83, 201);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.crud:hover{
    transform: translateY(-5px);
}
.c:hover{
    background: orangered;
}
.ch:hover{
    background: green;
}
.r:hover{
    background: red;
}
.e:hover{
    background: purple;
}

h1{
    font-size: 20px;
    cursor: default;
}
p{
    cursor: default;
    font-size: 15px;
    color: rgb(63, 63, 63);
}
span{
    cursor: default;
    color: white;
    text-transform: uppercase;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.active{
    background: rgba(255, 255, 255, 0.5);
}
.active:hover{
    background: rgba(255, 255, 255, 0.5);
}
.active h1, .active p {
    text-decoration: line-through;
}
.active .c, .active .e {
    display: none;
}

.pp {
    color: rgb(4, 83, 201);
    transform: translateY(1px);
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

